{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de servicio social y practicas </title>
<link rel="stylesheet" href="{% static 'principal/estilos.css' %}">
       
</head>
<body>

    <header>
        <h1>Sistema de Control de Servicio Social y Prácticas</h1>
        <nav>
            <p>
                <a href="/">Inicio</a> | 
                <a href="/contacto/">Contacto</a> |

            </p>
        </nav>
    </header>

    <main>
        
        <section>
            <h2>Información General</h2>
            <p class="destacado">Esta aplicación web está diseñada para gestionar y organizar el registro de los estudiantes que realizan su servicio social y prácticas profesionales.
                Esta dirigida a estudiantes y personal administrativo.
            </p>
        
            <img src="https://i.pinimg.com/originals/21/bc/9c/21bc9ca81a0ad4752168dfc15c6c1a1d.jpg" width="250">

            <p>informacion genral </p>
            <ul>
                <li>Control de expedientes de alumnos.</li>
                <li>Seguimiento de horas acumuladas.</li>
                <li>Generación de reportes académicos.</li>
            </ul>
        </section>

    </main>

    <footer>
        <p>Desarrollado por: 
            <li>Sebastián Alejandro Gómez Robledo</li>
            <li>Cesar Emiliano Manzano Calvillo</li>
            <li>Nataly Guandalupe Rangel Servin</li>
            <li>Gisela Yajana Huera Perez</li>

        </p>
    </footer>

</body>
</html>