h1 {
            color: deeppink;
            text-align: center;
        }
        
        p {
            color: black;
            font-size: 16px;
        }

        nav {
            background-color: lightpink;
            padding: 10px;
            border-radius: 5px;
        }

        nav a {
            color: mediumvioletred;
            text-decoration: none;
            font-weight: bold;
            margin-right: 10px;
        }

        .destacado {
            color: hotpink;
            font-weight: bold;